@model ProjetAssociationSports.Models.Section

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

    </dl>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Jour</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Nombres de places Restantes</th>
        </tr>
    </thead>
    @foreach (var creneau in Model.Creneaux)
    {
        <tr scope="row">
            <td>@creneau.Jour</td>
            <td>@creneau.HeureDeb</td>
            <td>@creneau.HeureFin</td>
            <td>@creneau.NbrPlaceRestantes</td>
            <td class="myLinks">@Html.ActionLink("S'inscrire","Inscription","Adherents",new {id= creneau.Id}, new { @class = "btn btn-primary" })</td>
        </tr>
    }

</table>
<p class="myLinks">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
