@model IEnumerable<ProjetAssociationSports.Models.Discipline>

@{
    ViewBag.Title = "Index";
}

<h2>Disciplines</h2>

@*<p  class="myLinks">
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="section"><td  class="myLinks">@item.Nom</td></tr>
        <tr class="section"><td  class="myLinks">@item.Description</td></tr>
     
        <tr>
            <td class="myLinks" id="test">
                @Html.ActionLink("Voir les sections", "Details", new { @item.Id })
            </td>
        </tr>
    }

</table>
